html{
    background-color: #f4f9f9;
}


.title{
    text-align: center;
}

form{
    text-align: center;
    margin-top: 50px;
    /* border: solid red; */
}

form > input{ 
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: 20px;

}
form > button {
    height: 45px;
    width: 40px;
    position: relative;
    padding-top: 1px;
    padding-bottom: 8px;
}

.far.fa-times-circle{
    font-size: 22px;
    position: relative;
    margin-top: 5px;
}


.playerCard{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}
.card {
    border: solid red;
    text-align: center;
}

img{
    height: 150px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}